<% if @recipes.empty? %>
  <div class="col-md-12 alert-container">
  <p>Sorry, but fine drinks begin with fine ingredients. Please enter more ingredients and try again!</p>
  </div>
<% end %>
  <% @recipes.each do |recipe| %>
  <div class="col-md-10 recipe-card opacity clearfix">
    <div class="row center"><h3><%= recipe.name %></h3><hr /></div>
    <% if user_signed_in? %>
        <% if !current_user.has_favorited?(recipe) %>
          <%= link_to 'Add to favorites', recipe_favorites_path(recipe), method: :post  %>
        <% end %>
      <% end %>
    <div class="row">
      <div class="col-md-4">
        <h4 class="recipe-card-headers">Ingredients</h4>
        <ul>
          <% recipe.ingredients.each do |ingredient| %>
            <li>
              <% if ingredient.citrus_ingredient? %>
                <% if ingredient.citrus_liquid_measure? %>
                  <%= ingredient.display_quantity %> <%= ingredient.unit %> <%= ingredient.component.name %> juice
                <% elsif ingredient.citrus_zest? %>
                  <%= ingredient.display_quantity %> <%= ingredient.unit %> of <%= ingredient.component.name %> zest
                <% elsif ingredient.citrus_piece? %>
                  <%= ingredient.display_quantity %> <%= ingredient.component.name %> <%= ingredient.unit %>
                <% end %>
              <% else %>
                <%= ingredient.display_quantity %> <%= ingredient.unit %> <%= ingredient.component.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-8 pull-right">
        <h4 class="recipe-card-headers">Directions</h4>
        <p><%= recipe.directions %></p>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row center">
    <div class="col-md-12">
      <%= paginate @recipes %>
    </div>
  </div>

