<% if @recipes.empty? %>
  <div class="col-md-12 alert-container">
  <p>Sorry, but fine drinks begin with fine ingredients. Please enter more ingredients and try again!</p>
  </div>
<% end %>
<ul class="list-unstyled">
  <% @recipes.each do |recipe| %>
  <div class="col-md-12 recipe-card opacity clearfix">
    <div class="row center"><h3><%= recipe.name %></h3><hr /></div>
    <% if user_signed_in? %>
        <% if !current_user.has_favorited?(recipe) %>
          <%= link_to 'Add to favorites', recipe_favorites_path(recipe), method: :post  %>
        <% end %>
      <% end %>
    <div class="row">
      <div class="col-md-4">
        <h4 class="recipe-card-headers">Ingredients</h4>
        <ul>
          <% recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.component.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-8 pull-right">
        <h4 class="recipe-card-headers">Directions</h4>
        <p><%= recipe.directions %></p>
      </div>
    </div>
  </div>
  <% end %>
</ul>

<% if !params[:search] %>
  <div class="row center">
    <div class="col-md-12">
      <%= paginate @recipes %>
    </div>
  </div>
<% end %>
