<div class="col-md-8 opacity">
  <h1>Enter those ingredients!</h2>
  <%= simple_form_for :search, url: recipes_path, method: :get do |f| %>
    <% Category.all.each do |category| %>
      <div class="row ingredient-row">
        <div class=<%= category.name.gsub(" ", "-") %>>
          <h2><%= category.name %></h2>
          <div class="checkbox form-inline ingredient_checkboxes"><%= f.input :component_ids, collection: category.components, as: :check_boxes %></div>
        </div>
      </div>
    <% end %>
  <%= f.button :submit, "That's the spirit!" %>
  <% end %>
</div>

