<table>
  <thead>
    <th><%= @recipe.name %></th>
  </thead>
  <tbody>
    <tr>
      <td><%= @recipe.directions %></td>
      <td>Ingredients<br /><br />
        <% @recipe.ingredients.each do |ingredient| %>
          <%= ingredient.component.name %>
          (<%= ingredient.component.category.name %>)<br />
        <% end %>
      </td>
      <% if user_signed_in? %>
        <% if !current_user.has_favorited?(@recipe) %>
          <td><%= link_to 'Add to favorites', recipe_favorites_path(@recipe), method: :post  %></td>
        <% elsif current_user.has_favorited?(@recipe)%>
          <td>You're marked this as a favorite...</td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
