<table>
  <thead>
    <th><%= @recipe.name %></th>
  </thead>
  <tbody>
    <tr>
      <td><%= @recipe.directions %></td>
      <td>Ingredients<br /><br />
        <% @recipe.ingredients.each do |ingredient| %>
          <%= ingredient.component.name %>
          (<%= ingredient.component.category.name %>)<br />
        <% end %>
      </td>
      <% if user_signed_in? %>
        <td><%= button_to 'Add to favorites', recipe_favorites_path(@recipe), method: :post  %></td>
      <% end %>
    </tr>
  </tbody>
</table>
