<!DOCTYPE html>
<html>
<head>
  <title>Hello Whiskey!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <header>
    <ul class="nav nav-pills nav-justified">
      <li><%= link_to 'Browse', recipes_path %></li>
      <li><%= link_to 'What Can I Make?', recipes_search_path %></li>
    </ul>

    <h1>Hello Whiskey!</h1>

    </header>
    <div class="row">
      <%= notice %>
      <%= alert %>
      <div class="span9"><%= yield %></div>
      <div class="span3">As a lover of fine whiskey cocktails...</div>
    </div>
</div>
</body>
</html>
