<!DOCTYPE html>
<html>
<head>
  <title>HolyGrail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><h1>Hello Whiskey!</h1><%= link_to 'All Drinks', recipes_path %> | <%= link_to 'What can I make?', recipes_search_path %></header>
<%= yield %>

</body>
</html>
