<!DOCTYPE html>
<html>
<head>
  <title>Hello Whiskey!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed" role="navigation">
      <div class="navbar-header">
        <%= link_to 'Hello Whiskey!', root_path, class: "navbar-brand" %>
      </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'What Can I Make?', recipes_search_path %></li>
          <li><%= link_to 'Browse', recipes_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Your Favorites', user_favorites_path(current_user) %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% if current_page?(root_path) %>
    <%= render "welcome/welcome" %>
  <% end %>

  <div class="container-fluid">
    <% if @alert == nil || @notice == nil %>
      <div class="col-md-12 center alert-container"><%= notice %><%= alert %></div>
    <% end %>
    <%= yield %>
  </div>

  <div class="footer center">
    <div class="container">
      <p><%= link_to 'David Guerette ~ Launch Academy 2014', "https://github.com/davidguerette/hello_whiskey" %></p>
    </div>
  </div>

</body>
</html>
