<!DOCTYPE html>
<html>
<head>
  <title>Hello Whiskey!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed" role="navigation">
      <div class="navbar-collapse collapse">
      <div class="navbar-header">
        <%= link_to 'Hello Whiskey!', root_path, class: "navbar-brand" %>
      </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'What Can I Make?', recipes_search_path %></li>
          <li><%= link_to 'Browse', recipes_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Your Favorites', user_favorites_path(current_user) %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% if current_page?(root_path) %>
    <div class="container-fluid center" id="welcome-container">
      <div class="jumbotron opacity">
        <h1>Hello Whiskey!</h1>
        <div class="row">
          <div class="col" id="elegant_image"><%= image_tag("elegant3.png") %></div>
      </div>
        <p class="lead">You look thirsty (and responsible!) Discover what drinks you can make</p>
          <!-- <div class="col-sm-4"><i class="fa fa-glass fa-3x"></i></span></div> -->
      </div>
    <div class="container-fluid center">
      <div class="row opacity" id="welcome-steps">
        <div class="col-md-4">
          <h1>Step 1</h1>
          <p class="lead">Gather your ingredients</p>
          <hr />
          <p>Bitters, citrus, whiskies of course, other (lesser) spirits -- go get them all!</p>
        </div>
        <div class="col-md-4">
          <h1>Step 2</h1>
          <p class="lead">Discover what you can make</p>
          <hr />
          <%= link_to "Fix a drink", recipes_search_path, class: "btn btn-lg" %>
        </div>
        <div class="col-md-4">
          <h1>Step 3</h1>
          <p class="lead">Enjoy</p>
          <hr />
          <p>Responsibly, of course.<br />Repeat steps 2 and 3.</p>
        </div>
      </div>
    </div>
    </div>
  <% end %>

  <div class="container-fluid opacity">
    <div class="row">
      <div class="col"><%= notice %><%= alert %></div>
      <div class="col"><%= yield %></div>
    </div>
  </div>



</body>
</html>
